<div id='container'>
<!-- Your code here -->
  <form name="shortlyForm" ng-submit="add()" novalidate>
      <input name="link" type="url" ng-model="link.url" placeholder="http://linkexample.com" required ng-class="{ 'error': shortlyForm.$invalid && shortlyForm.$dirty }" />
      <input type='submit' value='Shorten'>
  </form>
  <!-- <img class='spinner' src='../../assets/spiffygif_46x46.gif'> -->

  <div ng-if="shortlyForm.link.$error.required && shortlyForm.$dirty" class="message">
    <h2>Enter a URL</h2>
  </div>
  <div ng-if="shortlyForm.link.$error.url && shortlyForm.$dirty" class="message">
    <h2>Invalid URL</h2>
  </div>


</div>


